# 20170522 Monday

> Switch from db2 to oracle... using sqlplus, things change somehow..

> 在 sqlplus 中调用 select 查询，输出结果展示不好，导致可能出问题，需要 set line 5000 + tr -d ' \t' ... 去解决？

> 不要重复代码，提取公因子，把所有共用部分的代码都提出出来，不重复，不冗余...

---
#### The NULL behavior may be confusing in Oracle... or other database..
1 = NULL ? The answer is no, 1 is not equal to null

1 != NULL ? The answer is also no, 1 is not not equal to null

Null is null, but null = null is false.. [why](http://www.techrepublic.com/article/oracle-tip-understand-how-nulls-affect-in-and-exists/)

再次遇到 Oracle '' 与 NULL 也就是 空字符串 与 NULL 值的差异和比较

```
select 1 as TRUE
from dual
where '' = ''

没有任何返回值

select 1 as TRUE
from dual
where '' is null
返回 1 

```